@font-face {
    font-family: Jokerman;
    src: url('../webfonts/Jokerman-Regular.ttf');
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

}

header {
    line-height: 40px;
}
header img {
    position: relative;
    height: 25px;
    width: 25px;
    top: 5px;
}

.header-head {
    height: 40px;
    background-color: #550285;
    color: white;
}
.header-head  .container {
    padding-left: 200px !important;
    padding-right: 200px !important;
    max-width: 100% !important; 
}
.head-logo {
    font-family: Jokerman;
    margin-right: 100px;
    letter-spacing: 5px;
}
.header-display {
    display: inline-block;
}
.connect-display {
    display: inline-block;
    margin-right: 60px;
}
.social-display {
    display: inline-block;
}
header i, header p {
    display: inline-block;
}
header i {
    font-size: 15px;
    margin-right: 10px;
}
header a {
    color: white;
}
.social-media {
    position: absolute;
    right: 200px;
}
.social-media i {
    line-height: 40px;
    font-size: 20px;
}


.header-navbar {
    width: 100%;
}


.main-navbar {
    background-color: #550285;
    color: white;
    transform: skewX(120deg);
}
.navbar-display {
    display: inline-block;
}
.image-1 {
    display: flex;
}
.image-1 img {
    width: 80%;
    margin: 0 auto;
}